<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ciproject/
    
    # Redirect Trailing Slashes...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]
    
    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # If mod_rewrite is not available, all requests will be sent to index.php
    ErrorDocument 404 /ciproject/index.php
</IfModule>

